doctype html
html
  head
    title Socket.IO chat
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', integrity='sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==', crossorigin='anonymous')
  body(ng-app='simpleApp')
    .container(ng-controller='RoomController' ng-init='init("#{room}")')
      h1
        | dead simple
      h3
        | welcome to {{room}}, {{color}} | {{1+1}}
      //- pre {{messages | json}}

      form(ng-submit='submit()')
        .form-group
          input.form-control(autocomplete='off' ng-model='model.text' type='text')
        button.btn.btn-default 
          | Send

      ul.messages('ng-repeat'='message in messages')
        li
          | {{ message }}

      script(src='/client.js')
        