extends ./layout.jade

block content
  .main
    br
    p
      | Instant, anonymous, ephemeral. Go to 
      strong 
      #[a(href='/room/goblue') /room/anything] 
      | to begin talking to whoever else is there.
    p
      | Code is on 
      a(href='https://github.com/xavdidtheshadow/dead_simple')
        | github
      | .
    p
      | A fun weekend project by 
      a(href='http://davidbrownman.com')
        | David Brownman
      | . 
