extends ./layout.jade

block content
  .main(ng-controller='RoomController' ng-init='init("#{room}")' ng-cloak)
    h3
      span.small
        | room 
      | {{ room }} 
      span.small
        | user 
      | {{ user.id }}
      //-({{ user_count }} users present)

    form(ng-submit='submit()')
      .form-group
        input.form-control(autocomplete='off' ng-model='model.text' type='text' autofocus)
      button.btn.btn-default 
        | Send
      span.notif(ng-show='!glued && glued_to !== message_count')
        | New messages below! 
        a(ng-click='scroll_to_bottom()')
          | Scroll to bottom

    .chat(scroll-glue='glued')
      ul.messages
        li(ng-repeat='message in messages' ng-style='message.style')
          | {{message.user.id}}: {{ message.message }}

      a#bottom